---
# tasks file for base
- name: 'create multiple users'
  user:
    name: "{{ user_names }}"

- name: "updated motd file"
  template:
    src: motd
    dest: /etc/motd
    
- name: "install httpd packge"
  yum:
    name: httpd
    state: present

- name: "start httpd service"
  service:
    name: httpd
    enabled: true
    state: started

- name: "apply patches"
  yum:
    name: '*'
    state: latest
  notify: 
  - restart system
 

